* {
	font-family: arial, sans-serif;
}

#d_wrapper {
	width: 510px;
	height: 700px;
	background-color: #bee7e9;
	padding: 10px;
}

#d_img {
	background-color: #a5e5e7;
}

#p_img img {
	width: 200px;
	float: right;
	padding: 0 0 20px 20px;
}

#d_bottom_l {
	width: 300px;
	background-color: #6ed8dd;
	float: left;
	margin: 270px 10px 0 0;
}

#d_bottom_r {
	width: 200px;
	background-color: #6ed8dd;
	float: right;
}

body {
	background-color: #272727;
}

h1,
hr {
	color: #d9534f;
}

li,
h1 + p {
	color: #5bc0de;
}

a {
	color: #0080ff;
	text-decoration: none;
}

a:hover {
	color: #8c198c;
	text-decoration: underline;
}
