* {
	font-family: arial, sans-serif;
}

#header {
	width: 750px;
	margin: auto;
}

#product {
	border: 2px solid black;
	width: 750px;
}

#blue {
	color: blue;
}

#red {
	color: red;
}

#submit {
	display: block;
	margin: 20px 0 120px 0;
}

hr {
	margin: 20px 10px 20px 0;
}

#product_table {
	display: flex;
	justify-content: center;
}

img {
	border-right: 2px solid gray;
	margin: 10px;
}

#header,
.product_description {
	line-height: 1.5rem;
}
